
/* Responsive */
@media (max-width: 575px) {
	body {
		font-size: 13px;
	}
}
/* Header */
#header {
	position: relative;
	z-index: 1030;
}

#header .header-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #FFF;
	-webkit-transition: min-height 0.3s ease;
	transition: min-height 0.3s ease;
	width: 100%;
	border-top: 3px solid #EDEDED;
	border-bottom: 1px solid transparent;
	z-index: 1001;
}

#header .header-body.header-body-bottom-border-fixed {
	border-bottom: 1px solid rgba(234, 234, 234, 0.5) !important;
}

#header .header-body[class*="border-color-"] {
	border-bottom: 0 !important;
}

#header .header-container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: ease height 300ms;
	transition: ease height 300ms;
}

@media (max-width: 991px) {
	#header .header-container:not(.container):not(.container-fluid) .header-nav-main {
		padding: 0 0.75rem;
	}
}

#header .header-container.header-container-height-xs {
	height: 80px;
}

#header .header-container.header-container-height-sm {
	height: 100px;
}

#header .header-container.header-container-height-md {
	height: 125px;
}

#header .header-container.header-container-height-lg {
	height: 145px;
}

#header .container {
	position: relative;
}

@media (max-width: 767px) {
	#header .container {
		width: 100%;
	}
}

#header .header-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	max-height: 100%;
}

#header .header-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
    flex-shrink: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#header .header-column.header-column-border-right {
	border-right: 1px solid rgba(0, 0, 0, 0.06);
}

#header .header-column.header-column-border-left {
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}

#header .header-column .header-row {
	-webkit-box-pack: inherit;
	-ms-flex-pack: inherit;
	justify-content: inherit;
}

#header .header-column .header-extra-info {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

#header .header-column .header-extra-info li {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-left: 25px;
}

#header .header-column .header-extra-info li .header-extra-info-icon {
	font-size: 32px;
	font-size: 2rem;
	margin-right: 10px;
}

#header .header-column .header-extra-info li .header-extra-info-text label {
	display: block;
	margin: 0;
	color: #999;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.2;
}

#header .header-column .header-extra-info li .header-extra-info-text strong {
	display: block;
	margin: 0;
	color: #333;
	font-size: 14.4px;
	font-size: 0.9rem;
	line-height: 1.3;
}

#header .header-column .header-extra-info li .header-extra-info-text a {
	color: #333;
}

#header .header-column .header-extra-info li .feature-box p {
	margin: 0;
}

#header .header-column .header-extra-info li .feature-box small {
	position: relative;
	top: -4px;
	font-size: 80%;
}

#header.header-no-min-height .header-body {
	min-height: 0 !important;
}

#header .header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.06);
	min-height: 47px;
}

#header .header-top.header-top-light-border-bottom {
	border-bottom-color: rgba(255, 255, 255, 0.1);
}

#header .header-top.header-top-simple-border-bottom {
	border-bottom-width: 1px;
}

#header .header-top.header-top-default {
	background: #f7f7f7;
}

#header .header-top.header-top-borders {
	border-bottom-width: 1px;
}

#header .header-top.header-top-borders .nav-item-borders {
	border-right: 1px solid rgba(0, 0, 0, 0.06);
	padding-left: 12px;
	padding-right: 12px;
}

#header .header-top.header-top-borders .nav-item-borders:first-child {
	padding-left: 0;
}

#header .header-top.header-top-borders .nav-item-borders:last-child {
	border-right: 0;
}

#header .header-top.header-top-light-borders {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

#header .header-top.header-top-light-borders.header-top-borders .nav-item-borders {
	border-right-color: rgba(255, 255, 255, 0.2);
}

#header .header-top.header-top-light-2-borders {
	border-bottom-color: rgba(255, 255, 255, 0.06);
}

#header .header-top.header-top-light-2-borders.header-top-borders .nav-item-borders {
	border-right-color: rgba(255, 255, 255, 0.06);
}

#header .header-logo {
	margin: 16px 0;
	margin: 1rem 0;
	position: relative;
	z-index: 1;
}

#header .header-logo img {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	top: 0;
}

#header .header-nav {
	padding: 16px 0;
	padding: 1rem 0;
	min-height: 70px;
}

#header .header-nav-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#header .header-nav-top .nav > li > a, #header .header-nav-top .nav > li > span {
	color: #999;
	font-size: 0.9em;
	padding: 6px 10px;
	display: inline-block;
}

#header .header-nav-top .nav > li > a [class*="fa-"], #header .header-nav-top .nav > li > a .icons, #header .header-nav-top .nav > li > span [class*="fa-"], #header .header-nav-top .nav > li > span .icons {
	margin-right: 3px;
	font-size: 0.8em;
	position: relative;
}

#header .header-nav-top .nav > li > a {
	text-decoration: none;
}

#header .header-nav-top .nav > li > a:hover, #header .header-nav-top .nav > li > a a:focus {
	background: transparent;
}

#header .header-nav-top .nav > li.open > .dropdown-menu-toggle {
	border-radius: 4px 4px 0 0;
}

#header .header-nav-top .nav > li + .nav-item-left-border {
	margin-left: 10px;
	padding-left: 10px;
	position: relative;
}

#header .header-nav-top .nav > li + .nav-item-left-border:after {
	background: rgba(0, 0, 0, 0.08);
	content: "";
	width: 1px;
	height: 16px;
	position: absolute;
	display: block;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	left: 0;
}

#header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-remove:after {
	content: none;
}

@media (max-width: 575px) {
	#header .header-nav-top .nav > li:not(.d-none) {
		margin-left: 0;
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	#header .header-nav-top .nav > li.nav-item-left-border-remove.d-none {
		margin-left: 0;
		padding-left: 0;
	}
}

#header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-show:after {
	content: '';
}

@media (min-width: 576px) {
	#header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-sm-show:after {
		content: '';
	}
}

@media (min-width: 768px) {
	#header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-md-show:after {
		content: '';
	}
}

@media (min-width: 992px) {
	#header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-lg-show:after {
		content: '';
	}
}

@media (min-width: 1200px) {
	#header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-xl-show:after {
		content: '';
	}
}

#header .header-nav-top .nav > li.nav-item.dropdown.show .nav-link {
	background: transparent;
}

#header .header-nav-top .nav > li.nav-item:not(.dropdown) > a [class*="fa-"], #header .header-nav-top .nav > li.nav-item:not(.dropdown) > a .icons {
	left: -1px;
	top: -1px;
}

#header .header-nav-top .nav > li.nav-item-anim-icon > a:hover [class*="fa-"], #header .header-nav-top .nav > li.nav-item-anim-icon > a:hover .icons {
	-webkit-animation: navItemArrow 600ms ease;
	animation: navItemArrow 600ms ease;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

#header .header-nav-top .dropdown .dropdown-item {
	font-size: 0.75em;
}

#header .header-nav-top .dropdown-menu {
	border: 0;
	margin-top: -2px;
	margin-left: -2px;
	padding: 0;
	-webkit-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
	box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
	background: #FFF;
	padding: 3px;
	min-width: 180px;
	z-index: 10000;
	margin-right: 0;
	margin-top: 1px;
	-webkit-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
	border-radius: 0;
}

#header .header-nav-top .dropdown-menu:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	-webkit-transform: translate3d(-7px, -6px, 0);
	transform: translate3d(-7px, -6px, 0);
}

#header .header-nav-top .dropdown-menu.dropdow-menu-arrow-right:before {
	right: auto;
	left: 20px;
}

#header .header-nav-top .dropdown-menu a {
	color: #999;
	padding: 5px 12px;
	font-size: 0.9em;
}

#header .header-nav-top .dropdown-menu a:active {
	color: #FFF;
}

#header .header-nav-top .flag {
	margin-right: 2px;
	position: relative;
	top: -1px;
}

#header .header-nav-features {
	position: relative;
	padding-left: 20px;
	margin-left: 10px;
}

#header .header-nav-features:before, #header .header-nav-features:after {
	background: rgba(0, 0, 0, 0.03);
	content: none;
	width: 1px;
	height: 16px;
	position: absolute;
	display: block;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	left: 0;
}

#header .header-nav-features.header-nav-features-divisor-lg:before, #header .header-nav-features.header-nav-features-divisor-lg:after {
	height: 72px;
}

#header .header-nav-features.header-nav-features-light:before, #header .header-nav-features.header-nav-features-light:after {
	background: rgba(255, 255, 255, 0.1);
}

#header .header-nav-features:not(.header-nav-features-no-border):before, #header .header-nav-features:not(.header-nav-features-no-border):after {
	content: '';
}

#header .header-nav-features:not(.header-nav-features-no-border):after {
	display: none;
}

#header .header-nav-features.header-nav-features-show-border:before, #header .header-nav-features.header-nav-features-show-border:after {
	content: '';
}

@media (min-width: 576px) {
	#header .header-nav-features.header-nav-features-sm-show-border:before, #header .header-nav-features.header-nav-features-sm-show-border:after {
		content: '';
	}
}

@media (min-width: 768px) {
	#header .header-nav-features.header-nav-features-md-show-border:before, #header .header-nav-features.header-nav-features-md-show-border:after {
		content: '';
	}
}

@media (min-width: 992px) {
	#header .header-nav-features.header-nav-features-lg-show-border:before, #header .header-nav-features.header-nav-features-lg-show-border:after {
		content: '';
	}
}

@media (min-width: 1200px) {
	#header .header-nav-features.header-nav-features-xl-show-border:before, #header .header-nav-features.header-nav-features-xl-show-border:after {
		content: '';
	}
}

#header .header-nav-features.header-nav-features-start {
	padding-left: 0;
	margin-left: 0;
	padding-right: 20px;
	margin-right: 10px;
}

#header .header-nav-features.header-nav-features-start:not(.header-nav-features-no-border):before {
	left: auto;
	right: 0;
}

#header .header-nav-features.header-nav-features-center {
	padding-left: 20px;
	margin-left: 10px;
	padding-right: 20px;
	margin-right: 10px;
}

#header .header-nav-features.header-nav-features-center:after {
	display: block;
	left: auto;
	right: 0;
}

#header .header-nav-features .header-nav-top-icon,
#header .header-nav-features .header-nav-top-icon-img {
	font-size: 12.8px;
	font-size: 0.8rem;
	position: relative;
	top: -1px;
	color: #444;
}

#header .header-nav-features.header-nav-features-light .header-nav-top-icon,
#header .header-nav-features.header-nav-features-light .header-nav-top-icon-img {
	color: #FFF;
}

#header .header-nav-features .header-nav-top-icon-img {
	top: -2px;
}

#header .header-nav-features .header-nav-feature {
	position: relative;
}

#header .header-nav-features .header-nav-features-dropdown {
	opacity: 0;
	top: -10000px;
	position: absolute;
	-webkit-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
	box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
	background: #FFF;
	padding: 17px;
	min-width: 300px;
	z-index: 10000;
	right: 100%;
	margin-right: -25px;
	margin-top: 30px;
	-webkit-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
	pointer-events: none;
}

#header .header-nav-features .header-nav-features-dropdown:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	-webkit-transform: translate3d(-7px, -6px, 0);
	transform: translate3d(-7px, -6px, 0);
}

#header .header-nav-features .header-nav-features-dropdown.show {
	opacity: 1;
	top: auto;
	pointer-events: all;
}

@media (min-width: 992px) {
	#header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-reverse {
		right: auto;
		margin-right: 0;
		left: 100%;
		margin-left: -25px;
	}

	#header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-reverse:before {
		right: auto;
		left: 5px;
		-webkit-transform: translate3d(7px, -6px, 0);
		transform: translate3d(7px, -6px, 0);
	}
}

@media (max-width: 440px) {
	#header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-mobile-fixed {
		position: fixed;
		right: auto;
		left: 50%;
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0);
	}

	#header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-mobile-fixed:before {
		content: none;
	}
}

#header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-force-right {
	margin-right: 6px !important;
	right: 0;
}

#header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-dark {
	background: #212529;
}

#header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-dark:before {
	border-bottom-color: #212529;
}

#header .header-nav-features .header-nav-features-cart {
	z-index: 2;
}

#header .header-nav-features .header-nav-features-cart .header-nav-features-dropdown {
	padding: 20px;
}

#header .header-nav-features .header-nav-features-cart .cart-info {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: -4px;
	left: 0;
	padding: 0;
	display: block;
	line-height: 1;
}

#header .header-nav-features .header-nav-features-cart .cart-info .cart-qty {
	position: absolute;
	top: -12px;
	right: -10px;
	width: 15px;
	height: 15px;
	display: block;
	font-size: 9px;
	font-weight: 600;
	color: #fff;
	background-color: #ed5348;
	text-align: center;
	line-height: 15px;
	border-radius: 20px;
	-webkit-box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#header .header-nav-features .header-nav-features-cart .mini-products-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#header .header-nav-features .header-nav-features-cart .mini-products-list li {
	position: relative;
	padding: 15px 0;
	border-bottom: 1px solid #EEE;
}

#header .header-nav-features .header-nav-features-cart .mini-products-list li:first-child {
	margin-top: -15px;
}

#header .header-nav-features .header-nav-features-cart .mini-products-list li .product-image {
	float: right;
	border-color: #ededed;
	border-width: 1px;
	padding: 0;
	border: 1px solid #ddd;
	background-color: #fff;
	display: block;
	position: relative;
}

#header .header-nav-features .header-nav-features-cart .mini-products-list li .product-image img {
	max-width: 80px;
}

#header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details {
	margin-left: 0;
	line-height: 1.4;
}

#header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details a {
	letter-spacing: 0.005em;
	font-weight: 600;
	color: #696969;
}

#header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details .product-name {
	margin: 15px 0 0;
	font-size: 0.9em;
	font-weight: 400;
}

#header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details .qty-price {
	font-size: 0.8em;
}

#header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details .btn-remove {
	z-index: 3;
	top: 5px;
	right: -5px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	color: #474747;
	border-radius: 100%;
	position: absolute;
	text-align: center;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	line-height: 20px;
	font-size: 10px;
}

#header .header-nav-features .header-nav-features-cart .totals {
	padding: 15px 0 25px;
	overflow: hidden;
}

#header .header-nav-features .header-nav-features-cart .totals .label {
	float: left;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #474747;
}

#header .header-nav-features .header-nav-features-cart .totals .price-total {
	float: right;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: #474747;
}

#header .header-nav-features .header-nav-features-cart .actions {
	padding: 0;
	margin: 0;
}

#header .header-nav-features .header-nav-features-cart .actions .btn {
	display: inline-block;
	min-width: 125px;
	text-align: center;
	margin: 5px 0;
	float: right;
	font-size: 11.2px;
	font-size: 0.7rem;
	padding: 11.2px 16px;
	padding: 0.7rem 1rem;
	text-transform: uppercase;
	font-weight: 600;
}

#header .header-nav-features .header-nav-features-cart .actions .btn:first-child {
	float: left;
}

#header .header-nav-features .header-nav-features-cart.header-nav-features-cart-big .cart-info {
	margin-top: -9px;
	left: -4px;
}

#header .header-nav-features .header-nav-features-cart.header-nav-features-cart-big .header-nav-features-dropdown {
	margin-right: -31px;
	top: 10px;
}

#header .header-nav-features .header-nav-features-user .header-nav-features-toggle {
	color: #444;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

#header .header-nav-features .header-nav-features-user .header-nav-features-toggle .far {
	font-size: 15.2px;
	font-size: 0.95rem;
	margin: 0px 2px 0 0;
	position: relative;
	top: 1px;
}

#header .header-nav-features .header-nav-features-user .header-nav-features-toggle:hover {
	text-decoration: none;
}

#header .header-nav-features .header-nav-features-user .header-nav-features-dropdown {
	margin-right: -27px;
	min-width: 420px;
	padding: 35px;
}

@media (max-width: 767px) {
	#header .header-nav-features .header-nav-features-user .header-nav-features-dropdown {
		min-width: 320px;
	}
}

#header .header-nav-features .header-nav-features-user .actions {
	padding: 0;
	margin: 0;
}

#header .header-nav-features .header-nav-features-user .actions .btn {
	display: inline-block;
	min-width: 125px;
	margin: 5px 0;
	font-size: 11.2px;
	font-size: 0.7rem;
	padding: 11.2px 16px;
	padding: 0.7rem 1rem;
	text-transform: uppercase;
	font-weight: 600;
}

#header .header-nav-features .header-nav-features-user .extra-actions {
	clear: both;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	padding-top: 20px;
	margin-top: 20px;
	text-align: center;
}

#header .header-nav-features .header-nav-features-user .extra-actions p {
	font-size: 12px;
	font-size: 0.75rem;
	margin: 0;
	padding: 0;
}

#header .header-nav-features .header-nav-features-user.signin .signin-form {
	display: block;
}

#header .header-nav-features .header-nav-features-user.signin .signup-form, #header .header-nav-features .header-nav-features-user.signin .recover-form {
	display: none;
}

#header .header-nav-features .header-nav-features-user.signup .signin-form {
	display: none;
}

#header .header-nav-features .header-nav-features-user.signup .signup-form {
	display: block;
}

#header .header-nav-features .header-nav-features-user.signup .recover-form {
	display: none;
}

#header .header-nav-features .header-nav-features-user.recover .signin-form, #header .header-nav-features .header-nav-features-user.recover .signup-form {
	display: none;
}

#header .header-nav-features .header-nav-features-user.header-nav-features-user-logged .header-nav-features-dropdown {
	min-width: 320px;
}

#header .header-nav-features .header-nav-features-search-reveal-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 42px;
}

#header .header-nav-features .header-nav-features-search-reveal .simple-search {
	display: none;
}

#header .header-nav-features .header-nav-features-search-reveal .header-nav-features-search-hide-icon {
	display: none;
	text-decoration: none;
}

#header .header-nav-features .header-nav-features-search-reveal .header-nav-features-search-show-icon {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	text-decoration: none;
}

#header .header-nav-features .header-nav-features-search-reveal.show .header-nav-features-search-hide-icon {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-left: 10px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#header .header-nav-features .header-nav-features-search-reveal.show .header-nav-features-search-show-icon {
	display: none;
}

#header .header-nav-features .header-nav-features-search-reveal.show .simple-search {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background: #FFF;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search .big-search-header {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search .form-control {
	border: 0;
	background: transparent;
	font-size: 22px !important;
	line-height: 1;
	border-bottom: 2px solid #CCC;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	z-index: 1;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search .header-nav-features-search-hide-icon {
	position: absolute;
	right: 0px;
	top: 50%;
	z-index: 2;
	display: block;
	margin-right: 10px;
	margin-top: -10px;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search .header-nav-features-search-hide-icon i {
	font-size: 20px;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full {
	position: fixed;
	z-index: 100000;
	background: transparent;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full:before {
	content: "";
	display: block;
	background: rgba(23, 23, 23, 0.95);
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full .form-control {
	color: #FFF;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full .header-nav-features-search-hide-icon {
	position: fixed;
	top: 25px;
	right: 20px;
	margin-top: 0;
}

#header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full .header-nav-features-search-hide-icon i {
	color: #FFF;
}

#header.search-show .header-nav-features .header-nav-features-search-reveal-big-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#header .header-search {
	margin-left: 16px;
	margin-left: 1rem;
}

#header .header-search .form-control {
	border-radius: 20px;
	font-size: 0.9em;
	height: 34px;
	margin: 0;
	padding: 6px 12px;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	width: 170px;
}

#header .header-search .btn-light {
	background: transparent;
	border: 0 none;
	color: #CCC;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}

#header .header-search .btn-light:hover {
	color: #000;
}

#header .header-social-icons {
	margin-left: 16px;
	margin-left: 1rem;
}

#header .header-border-left {
	border-left: 1px solid rgba(0, 0, 0, 0.08);
}

#header .header-border-right {
	border-right: 1px solid rgba(0, 0, 0, 0.08);
}

#header .header-border-top {
	border-top: 1px solid rgba(0, 0, 0, 0.08);
}

#header .header-border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (max-width: 991px) {
	#header .header-mobile-border-top:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
}

#header .header-btn-collapse-nav {
	background: #CCC;
	color: #FFF;
	display: none;
	float: right;
	margin: 0 0 0 16px;
	margin: 0 0 0 1rem;
}

#header.header-narrow .header-body {
	min-height: 0;
}

#header.header-narrow .header-logo {
	margin-top: 0;
	margin-bottom: 0;
}

#header.header-narrow .header-nav {
	padding-top: 0;
	padding-bottom: 0;
}

#header.header-no-border-bottom .header-body {
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
}

#header.header-no-border-bottom .header-nav.header-nav-links nav > ul > li > a, #header.header-no-border-bottom .header-nav.header-nav-links nav > ul > li:hover > a, #header.header-no-border-bottom .header-nav.header-nav-line nav > ul > li > a, #header.header-no-border-bottom .header-nav.header-nav-line nav > ul > li:hover > a {
	margin: 0;
}

#header.header-effect-shrink {
	-webkit-transition: ease height 300ms;
	transition: ease height 300ms;
}

#header.header-effect-shrink .header-top {
	-webkit-transition: ease height 300ms;
	transition: ease height 300ms;
}

#header.header-effect-shrink .header-container {
	min-height: 100px;
}

#header.header-effect-shrink .header-logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#header.header-dark .header-body {
	background: #212529;
}

#header.header-dark .header-body .header-nav.header-nav-links-side-header nav > ul > li > a {
	border-bottom-color: #2a2a2a;
}